
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid black;
  }

  td > button {
    width: 40%;
    padding: 12px 20px;
    margin: 5px 5px 5px 5px;
    box-sizing: border-box;
    background-color: red; 
    color : white;
    border : none;
    cursor: pointer; 
  }

  .center{
    text-align: center;
  }

  h3{
    color:blue;
  }
  